*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100yh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.box{
    width: 200px;
    height: 200px;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aed 90%
        );
        position: relative;
        border-radius: 50px;
        box-shadow: 0px 3px 10px rgba(24, 22, 22, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
}
.border{
    position: absolute;
    height: 150px;
    width: 150px;
    border: 10px solid #fff;
    border-radius: 40px;
}
.dot{
    position: absolute;
    height: 15px;
    width: 15px;
    background: #fff;
    border-radius: 50%;
    top: 27%;
    right: 25%;

}
.circle{
    height: 70px;
    width: 70px;
    border: 10px solid #fff;
    border-radius: 50%;
}